@import "reset";
@import "vars/global";
@import "themes/main";

.App {
  font: var(--font-m);
  color: var(--color-primary);
  background: var(--color-bg);
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #9498a1;
}

*::-webkit-scrollbar-thumb {
  background-color: #9498a1;
  border-radius: 12px;
}

.App *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.App *::-webkit-scrollbar-track {
  background: #ffffff;
}

.App *::-webkit-scrollbar-thumb {
  background-color: #9498a1;
  border-radius: 20px;
}