:root {
  --color-bg: #ffffff;
  --color-bg-invert: #2e2f33;
  --color-primary: #15172b;
  --color-primary-invert: #ffffff;
  --color-secondary: #f5f7fb;
  --color-secondary-invert: #2e2f33;

  // Base colors
  --color-white: #ffffff;
  --color-main: #439efb;
  --color-main-hover: #3483d4;
  // Text
  --color-text: #15172b;
  --color-text-invert: #ffffff;
  --color-text-secondary: #9498a1;
}