.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--color-bg);
  border-bottom: 2px solid var(--color-secondary);
  color: var(--color-text);
  display: flex;
  align-items: center;
  padding: 0 50px;
  gap: 10%;
}

.NavBarButton {
  margin-left: auto;
}

.NavBarLink {
  font: var(--font-l);
}